extends ../../layouts/main.jade

block title
  title Mobile menu | Seller

block content

  .container-fluid
    
    hr.i-size-L
    hr.i-size-L
    hr.i-size-L

    include ../../components/mobile-menu/template
          